[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "==0.2.5"
httplib2 = "==0.9.1"
oauth2client = "==1.4.11"
webargs = "==1.2.0"
flask = "==0.10.1"
flask-wtf = "==0.12"
werkzeug = "==0.14.1"
marshmallow = "==2.18.1"
wtforms = "==2.2.1"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.8"
