{% extends "layout.html" %}

{% block content %}
  <p class="lead">
    Ingresá tus datos para recibir un enlace con el que vas a poder
    consultar tus notas.
  </p>

  <form class="form-horizontal" role="form" method="post">
    {% for cat, msg in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ cat }}">{{ msg }}</div>
    {% endfor %}

    {{ form.hidden_tag() }}

    {{ form_field(form.padron) }}
    {{ form_field(form.email,
                  help_msg=("La dirección debe coincidir con la que "
                            "te anotaste para la lista de correo")) }}

    {{ form_field(form.submit, class="btn btn-primary btn-lg") }}
  </form>
{% endblock %}


{% macro form_field(field, class="form-control input-lg", help_msg="") %}
   <div class="form-group">
     <div class="col-xs-4 {{ 'has-error' if field.errors else ''}}">

        {{ field(class=class, placeholder=field.label.text) }}

        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}

        {% if help_msg %}
          <span class="help-block">{{ help_msg }}</span>
        {% endif %}

      </div>
    </div>
{% endmacro %}

<!-- vim: set sw=2 et : -->
