$def with(content)
<html>
	<head>
		<title>$content.title</title>
		<link rel="shortcut icon" href="http://www.fi.uba.ar/sites/default/files/favicon.ico"/>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style>
body {
  padding-top: 50px;
}
.content {
  padding: 40px 15px;
}
form table {
  margin-bottom: 10px;
}
form th {
  padding-right: 10px
}
.table {
  max-width: 30em;
}
</style>
	</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">$title</a>
		</div>
	</div>
</div>

<div class="container">
<div class="content">
$:content
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>

